* {
    box-sizing: border-box;
    font-family: "Nunito", Arial, Helvetica, sans-serif;
}

body {
    background-color: #1b1b1b;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#grid-container {
    background-color: #1b1b1b;
    height: 75vh;
    aspect-ratio: 1;
    display: grid;
}

.tile {
    background-color: #ffffff;
    pointer-events: fill;
}

.grid-lines {
    border-bottom: 1px solid #1b1b1b;
    border-right: 1px solid #1b1b1b;
}

.tile:hover {
    /* background-color: #e2e2e2; */
    box-shadow: inset 0 0 0 1px #1b1b1b;
}

.settings-wrapper {
    height: 75vh;
    display: flex;
    padding: 20px;
    background-color: #ffffff;
}